html, body {
    width: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.hover-drop-down, .click-drop-down {
    width: 100px;
    position: relative;
    border: 2px solid;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.hover-drop-down-btn, .click-drop-down-btn {
    cursor: pointer;
}

.hover-drop-down-content, .click-drop-down-content {
    display: none;
}

.hover-drop-down-btn:hover ~ .hover-drop-down-content {
    display: block;
    position: absolute;
}

.click-drop-down-content.clicked  {
    display: block;
    position: absolute;
}